<%= content_tag(:div, :id => field.id, :class => "dnd-area") do %>
  <%= hidden_field(object_name, :fileupload_guid) if object.new_record? %>
  
	<div class="dnd-hints">
	  <%= fields_for object do |f| %>
	    <%= f.fields_for method_name, field.value do |m| %>
        <%= m.file_field(:data, input_html) %>
	    <% end -%>
	  <% end -%>
	  
		<input type="button" class="button gray" value="Выберите файл на компьютере">
		или<span>Перетащите фотографию сюда</span>
	</div>
	
	<script type="text/javascript">
    $(function() {
      $('#<%= field.id %> input[type="file"]').fileupload({
        dataType: 'json',
        dropZone: $("#<%= field.id %>"),
        autoUpload: true,
        paramName: "file",
        formData: function(form){
          return [{"name": "guid", "value": "<%= object.fileupload_guid %>"}];
        }
      });
    });
  </script>
<% end -%>

<%= render :partial => "uploader/#{field.theme}/upload" %>
<%= render :partial => "uploader/#{field.theme}/download" %>
