<%= content_tag(:div, id: field.id, class: 'uploader-dnd-area', data: { tpml: field.klass.to_s, exists: field.exists? }) do -%>
  <%= hidden_field(field.object_name, :fileupload_guid, object: field.object) if field.object.new_record? %>

  <div class="uploader-files"></div>

  <div class="uploader-dnd-hints">
    <span class="uploader-button gray fileinput-button">
      <span><%= I18n.t('uploader.button') %></span>
      <%= file_field field.method_name, :data, field.input_html %>
    </span>

    <div class="uploader-dnd-hint">
      <%= I18n.t('uploader.or') %><span><%= I18n.t('uploader.drop') %></span>
    </div>
  </div>

  <%= render partial: "uploader/#{field.theme}/upload", locals: { field: field } %>
  <%= render partial: "uploader/#{field.theme}/download", locals: { field: field } %>
  <%= render partial: "uploader/#{field.theme}/sortable", locals: { field: field } if field.sortable? %>

  <script type="text/javascript">
    $(function() {
      $("#<%= field.id %>").uploaderWidget();
    });
  </script>
<% end -%>
